{% extends "vowr_template.htm" %}

{% block style %}
<link rel="stylesheet" href="/static/style/gatekeeper.css">
{% endblock %}

{% block title %}
Reset Password
{% endblock %}

{% block body %}

        <div css="text-align:center"><form class="form-signin" method="POST" action="/gatekeeper/forgot">
            <h2 class="form-signin-heading">Reset password</h2>
            {% include 'includes/_messages.htm' %}        
            {% if params['reset_form_part'] == 1 %}    
            <div class="form-group">
                <label for="username">User name</label>
                <input type="text" class="input-block-level" name="username" id="username" required placeholder="User name">
            </div>
            {% elif params['reset_form_part'] == 2 %}
            <input type="hidden" name="username" id="username" value="{{ params['reset_username'] }}">
            <div class="sec_q">{{ params['sec_q'] }}</div>
            <div class="form-group">
                <input type="password" class="input-block-level" name="sec_a" id="sec_a" required placeholder="Security answer">
            </div>
            {% elif params['reset_form_part'] == 3 %}
            <input type="hidden" name="username" id="username" value="{{ params['reset_username'] }}">
            <input type="hidden" name="sec_a" id="sec_a" value="{{ params['reset_sec_a'] }}">
            <div class="form-group">
                {{ render_field(params['reset_form'].password, class_="form-control") }}
            </div>
            <div class="form-group">
                {{ render_field(params['reset_form'].confirm, class_="form-control") }}
            </div>
            {% endif %}
            <button class="btn btn-large btn-primary" type="submit">{{ params['btn_name'] }}</button>
        </form>

{% endblock %}
