/* Vowr css */
body {
	/* background:darkblue; */
	color:black; 
	 background-image: url("vowr_bgd.jpg");
	 background-repeat: no-repeat;
	  background-attachment: fixed;
    background-position: center; 
         background-color: #cccccc;
}
p {
  font-family: "Times New Roman", georgia, sans-serif;
  font-size: 24px;
  }
#demo-table {
  /* font: 50% sans-serif; */
 
 /* background-color: blue; */
  background-color:transparent;
  /* background-color: #efe; */
  border-collapse: collapse;
  empty-cells: hide;
  border: 0px solid black;
  /*  border: 5px solid #7a7; */
}
#demo-table > caption 
	{
  	caption-side: top; 
  	/* font-style: bold; */
  	text-align: center;
	empty-cells: hide;
	}
#box-table {
        font: 100% sans-serif;
        border: 1px;
	}
/*
 #box-table > caption {
        font-style: bold;
        text-align: center;
        foreground-color: black;
        } */
#demo-table th, #demo-table td {
    font-size: 1.1em;
    text-align: left;
    padding-top: 0px;
    padding-bottom: 0px;
    // border: 1px solid black;
    border= 0px;
    background-color:transparent; 
    /* color: #ffffff;*/
    }
 td {
    font-size: 1em;
    text-align: left;
    background-color:transparent; 
    color: #ffffff;
    }
th {
    font-size: 1em;
    text-align: left;
    /* background-color: red; */
    /* background-color:transparent;` */
    color: #df6b5a;
    }
table {
	border: 1px solid black;
	border-collapse: collapse;
	background: blue;
      }
