{% extends "vowr_template.htm" %}

{% block title %}
VOWR Digital Library
{% endblock %}

{% block body %}

        {% include 'includes/_messages.htm' %}

        <h1 class="sect-header">VOWR Music Librarian</h1>

        <div class="floatbox">
                <p>This website allows DJs to view and edit the VOWR Digital Library, and to create music playlists from the catalogue.</p>

                {% if not current_user.is_authenticated %}
                <p>To get detailed song information, perform modifications, or to create playlists, you must be <a href="{{ url_for('gatekeeperSignInBasic') }}">signed in</a>.</p>
                {% endif %}
        </div>

        <h1 class="sect-header">User Guide</h1>

        <div class="floatbox">
                <p>Stay tuned, user guide will be available shortly.</p>
        </div>

        <h1 class="sect-header">Feedback</h1>

        <div class="floatbox">
                <p>Feedback on this website is greatly appreciated.</p>

                <p>Bug reports or technical feedback can be submitted to <a href="">this form</a>.</p>
        </div>

        

        

{% endblock %}