{% extends "search_template.htm" %}

{% block title %}
Search VOWR Digital Catalogue
{% endblock %}

{% block subnavbar %}
        {% include 'includes/_messages.htm' %}
        <form class="form-search" method="POST">
            <input type="text" class="auto input-block-level" name="song_title" placeholder="Song">
            <input type="text" class="auto input-block-level" name="artist_name" placeholder="Artist">
            <input type="text" class="auto input-block-level" name="album_num" placeholder="Album">
            <input type="text" class="auto input-block-level" name="category" placeholder="Category">
            <div class="padbox">
                <label for="canadian">Canadian</label>
                <input type="checkbox" class="input-block-level" name="canadian" id="canadian">
                <!-- <table style="vertical-align: top; position: relative; top: -4pt; display: inline;">
                    <tr><td>
                        <label for="canadian">Canadian</label>
                        <input type="checkbox" class="input-block-level" name="canadian" id="canadian">
                    </td></tr>
                    <tr><td>
                        <label for="dedup">No Duplicates</label>
                        <input type="checkbox" checked class="input-block-level" name="dedup" id="dedup">
                    </td></tr>
                </table> -->
            </div>
            <button class="btn btn-large btn-primary thin rounded-btn" type="submit">Search</button>
        </form>
{% endblock %}
        
{% block body %}
{% if params.get('searchResults') != None %}
                <div class="floatbox">
{% if params['num_results'] > 0 %}
            <table class="table table-hover">
                <thead>
                <!-- Look into whether or not it is possible to have set-width columns... 
                For example, Album Number, Media, Side, and Track should be narrower than
                Song Title and Artist Name. -->
                <tr>
                    <th></th> <!-- This will be where the Canadian marker goes. -->
                    <th>Song Title</th>
                    <th>Artist Name</th>
                    <th>Album Number</th>
                    <th>Category</th>
                    <th>Media</th>
                    <th>Side</th>
                    <th>Track</th>
                    <th>Performance Type</th>
                    <th>Theme</th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody>
{% for song in params['searchResults'] %}      
                <tr>
{% if song.canadian %}
                    <td><!-- Canadian flag here. --></td>
{% else %}
                    <td><!-- No Canadian flag here. --></td>
{% endif %}
                    <td>{{ song.song_title }}</td>
                    <td>{{ song.artist_name }}</td>
                    <td>{{ song.alb_num }}</td>
                    <td>{{ song.category }}</td>
                    <td>{{ song.media }}</td>
                    <td>{{ song.side }}</td>
                    <td>{{ song.track }}</td>
                    <td>{{ song.perf_type }}</td>
                    <td>{{ song.theme }}</td>
                    <td>
                        <a class="usepost" style="padding-right: 6pt" href="{{ url_for('cpUserLogs', id=user['id']) }}" title="Account activity" usepost><i class="fa fa-fingerprint"></i></a>
{% if not user['admin'] %}  
                        <a class="usepost" style="padding-right: 6pt" href="{{ url_for('cpUserAdmin', id=user['id']) }}" title="Make account admin" usepost><i class="fa fa-user-shield"></i></a>
{% else %}
                        <a class="usepost" style="padding-right: 6pt" href="{{ url_for('cpUserAdmin', id=user['id']) }}" title="Make account basic" usepost><i class="fa fa-user-minus"></i></a>
{% endif %}
{% if not user['master'] %}  
                        <a class="usepost" style="padding-right: 6pt" href="{{ url_for('cpUserMaster', id=user['id']) }}" title="Make account master" usepost><i class="fa fa-user-edit"></i></a>
{% else %}
                        <a class="usepost" style="padding-right: 6pt" href="{{ url_for('cpUserMaster', id=user['id']) }}" title="Make account basic" usepost><i class="fa fa-user-times"></i></a>
{% endif %}
{% if user['active'] %}                        
                        <a class="usepost" style="padding-right: 6pt" href="{{ url_for('cpUserActive', id=user['id']) }}" title="Deactivate this account" usepost><i class="fa fa-ban"></i></a>
{% else %}
                        <a class="usepost" style="padding-right: 6pt" href="{{ url_for('cpUserActive', id=user['id']) }}" title="Activate this account" usepost><i class="fa fa-check-circle"></i></a>
{% endif %}
{% if user['locked'] %}                        
                        <a class="usepost" style="padding-right: 6pt" href="{{ url_for('cpUserUnlock', id=user['id']) }}" title="Unlock account" usepost><i class="fa fa-unlock"></i></a>
{% endif %}
                    </td>
                </tr>
{% endfor %}            
                </tbody>
            </table>
{% else %}
        <div class="center">
            No songs match the search critera you provided.
        </div>
{% endif %}
        </div>
{% else %}
        <h1 class="sect-header">Instructions</h1>
        <div class="floatbox">
            <p> 
                This page is used to browse the VOWR Music Library. You may search by <em>Song Title</em>, <em>Artist Name</em>, <em>Library Album ID</em>, and/or <em>Category</em>. You may also filter search results for only Canadian content or to eliminate duplicate results with an identical <em>Song Title</em> and <em>Artist Name</em>.
            </p>

            <p>
                To return a list of <em>all</em> songs in the library, simply click the <em>Search</em> button without providing any search parameters. 
            </p>

            <p>
                By default, results are sorted by <em>Artist Name</em>. If you prefer to sort by <em>Song Title</em>, <em>Library Album ID</em>, or <em>Category</em>, click the heading in question in the results pane and the results will be reordered.
            </p>
        </div>
{% endif %}
{% endblock %}
